@model PruebaAnimales.Models.Vaca

@{
    ViewBag.Title = "Ficha";
}
<h2>Ficha Animales</h2>

<fieldset class="form-horizontal">
    <legend class="label">Informacion Animal</legend>
    <label class="control-label">Nombre</label>
    <div class="form-group">
        <div class="label"> Nombre </div>
        <div class="text-muted">@Html.DisplayFor(m => m.Nombre)</div>
    </div>
    <label class="control-label">Sexo</label>
    <div class="form-group">
        <div class="label"> Sexo </div>
        <div class="text-muted">@Html.DisplayFor(m => m.Sexo)</div>
    </div>
    <label class="control-label">Raza</label>
    <div class="form-group">
        <div class="label"> Raza </div>
        <div class="text-muted">@Html.DisplayFor(m => m.Raza)</div>
    </div>
    <label class="control-label">Edad</label>
    <div class="form-group">
        <div class="label"> Edad </div>
        <div class="text-muted">@Html.DisplayFor(m => m.Edad)</div>
    </div>
    <label class="control-label">Tipo</label>
    <div class="form-group">
        <div class="label"> Tipo </div>
        <div class="text-muted">@Html.DisplayFor(m => m.Tipo)</div>
    </div>
    <label class="control-label">Rebaño</label>
    <div class="form-group">
        <div class="label"> Rebaño </div>
        <div class="text-muted">@Html.DisplayFor(m => m.Rebaño)</div>
    </div>


</fieldset>
