@model IEnumerable<PruebaAnimales.Models.Vaca>
@{
    ViewData["Title"] = "Listado";
}
<h2>Listado de Animales</h2>
<table class="table table-bordered table-hover">
    <thead>
    <th>Nombre</th>
    <th>Sexo</th>
    <th>Raza</th>
    <th>Edad</th>
    <th>Tipo</th>
    <th>Rebaño</th>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {

            <tr>
                <td>@Html.DisplayFor(m => p.Nombre)</td>
                <td>@Html.DisplayFor(m => p.Sexo)</td>
                <td>@Html.DisplayFor(m => p.Raza)</td>
                <td>@Html.DisplayFor(m => p.Edad)</td>
                <td>@Html.DisplayFor(m => p.Tipo)</td>
                <td>@Html.DisplayFor(m => p.Rebaño)</td>
                <td>@Html.ActionLink("Visualizar", "Ficha", new { nombre = p.Nombre })</td>
            </tr>
        }
    </tbody>
</table>